/* alerts */
.alert {
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 4px;
}

.alert-danger{
    background-color: lightcoral;
}

.alert-success {
    background-color: green;
}

.alert-warning {
    background-color: orange;
}

.alert-primary {
    background-color: lightblue;
}

/* Buttons */
.btn-danger{
    background-color: red;
    padding: 16px;
}

/* Images */